- content_for :title do
  = t 'attributions'

%section.content
  %article
    %h1= t 'attributions'
    %p.lead= t 'attributions-introduction'

    %h2 Sunset over Berlin
    By Nico Trinkhaus (Own work) [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="http://sumfinity.com/hdr-photos/germany/berlin/berlin-skyline-sunset/">via sumfinity.com</a>

    %h2 Staatsbibliothek Berlin
    By Da flow (Own work) [<a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a> or <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AStaatsbibliothek_zu_Berlin_Eingang.jpg">via Wikimedia Commons</a>
