- content_for :title do
  Mitwirken!

%section.content
  %article
    %h1 Wir suchen euch als Unterstützung
    %p.lead
      Zu einem erfolgreich Bundestreffen gehört neben einem spannenden Motto, einer tollen Location und euch als Teilnehmenden auch die aktive Gestaltung des Rahmenprogramms. Dabei brauchen wir als Kernteam unbedingt eure Unterstützung. Hier findet ihr eine Auflistung der vielfältigen Einsatzbereiche in denen wir gerne mit möglichst vielen von euch zusammenarbeiten würden.
      <br>
      <strong>Wenn du Lust hast uns durch einen oder mehrere Helferjobs zu unterstützen, dann schreib uns bitte an <a href="mailto:helfer@yfu-bundestreffen.de">helfer@yfu-bundestreffen.de</a>.</strong>

    %div(data-magellan-expedition="fixed")
      %dl.sub-nav
        %dt Aufrufe:
        %dd(data-magellan-arrival="workshops")
          %a(href="#workshops") Workshops

        %dd(data-magellan-arrival="party")
          %a(href="#party") Party

        %dd(data-magellan-arrival="kiosk")
          %a(href="#kiosk") Kiosk

        %dd(data-magellan-arrival="aufbau")
          %a(href="#aufbau") Aufbau

        %dd(data-magellan-arrival="kinderbetreuung")
          %a(href="#kinderbetreuung") Kinderbetreuung

        %dd(data-magellan-arrival="freestyler")
          %a(href="#freestyler") Freestyler

        %dd(data-magellan-arrival="ersthelfer")
          %a(href="#ersthelfer") Ersthelfer

        %dd(data-magellan-arrival="grillmeister")
          %a(href="#grillmeister") Grillmeister

    %a(name="workshops")
    #workshops(data-magellan-destination="workshops")
      %h2 Einen Workshop anbieten
      :markdown
        Auf unserem BUT könnt ihr an Workshops teilnehmen, diese aber auch selbst anbieten. Das Programm des BUT soll so vielfältig werden wie es die Interessen seiner Teilnehmer und Teilnehmerinnen sind. Deshalb freuen wir uns auf eine bunte Mischung aus Workshops, die ihr nach euren Wünschen gestalten könnt. Wir sind gespannt auf Workshops zu unserem kontroversen BUT-Motto, YFU und darüber hinausgehende Angebote zum Selbermachen, Bewegen, Nachdenken und Glücklichsein.

        Und nun seid ihr gefragt:

        * _Habt ihr ungewöhnliche Hobbies und Interessen, die ihr gern mit anderen YFUlern teilen würdet?_
        * _Das Motto »Ab durch die Mitte? Konsens vs. Querdenken« hat bei euch etwas ausgelöst und euch auf eine Idee für eine Diskussionsrunde, ein Planspiel, einen Workshop, eine Aktion oder etwas ganz anderes gebracht?_
        * _Gibt es eine Konzeptidee, die ihr gern einmal ausprobieren würdet?_
        * _Habt ihr besondere Fähigkeiten oder Wissen, welches ihr gern an andere YFUler weitergeben möchtet?_
        * **Was darf für euch nicht fehlen? — Bietet es an!**

        Wir freuen uns über alle, die bereit sind, einen Workshop anzubieten.

        Sofern du weitere Infos benötigst oder Fragen hast, melde dich gerne per Mail bei [workshops@yfu-bundestreffen.de](mailto:workshops@yfu-bundestreffen.de).

    %a(name="party")
    #party(data-magellan-destination="party")
      %h2 Party
      %h3 Party-Koordination
      :markdown
        Wir suchen zwei Organisationstalente, die das Kernteam bei der Planung und Durchführung der Party am Samstag unterstützen. Dazu gehören die Vor- und Nachbereitung der Party, der Kontakt mit Band und/oder DJ, sowie die Koordination der anderen Party-Helfer vor Ort und das Sicherstellen eines reibungslosen Ablaufs der Getränkeversorgung. Dies ist eine sehr wichtige und verantwortungsvolle Aufgabe, deshalb solltest du dich nur für diese Aufgabe melden, wenn du sicher zusagen kannst, dass du auch im Vorfeld des Bundestreffens zur Verfügung stehst und besonders am Abend der Party den Überblick und einen einigermaßen klaren Kopf behalten kannst. Dich erwartet die tolle Gelegenheit, deine planerischen Fähigkeiten unter Beweis zu stellen, in einem hochmotivierten BUT-Team mitzuarbeiten sowie einen unvergesslichen Abend für ca. 300 partywütige YFUler zu gestalten.
      %h3 Party-Helfer
      :markdown
        Als Party-Helfer übernimmst Du z.B. eine Tresenschicht und kannst so dazu beitragen, dass die über 300 Gäste diesen Abend nie vergessen werden! Alternativ oder zusätzlich unterstützt Du die Party-Koordination bei der Vorbereitung oder der Nachbereitung der Party.

    %a(name="kiosk")
    #kiosk(data-magellan-destination="kiosk")
      %h2 Kiosk
      %h3 Kiosk-Koordination
      :markdown
        Wir suchen ein Organisationstalent, welches das Kernteam bei der Planung und Durchführung des Kiosks unterstützt. Dazu gehören u.a. die Vor- und Nachbereitung des Kiosks, die Planung des Einkaufs, die Gestaltung der Dekoration, der reibungslose Ablauf des Kiosks und die Helfereinweisung vor Ort. Dies ist eine sehr verantwortungsvolle Aufgabe und wird vor und auch während des Bundestreffens viel Zeit in Anspruch nehmen. Dich erwartet eine tolle Gelegenheit deine planerischen Fähigkeiten unter Beweis zu stellen, dich kreativ auszutoben, in einem hoch motivierten BUT Team mitzuarbeiten, das BUT aktiv mit zu gestalten und ganz viele neue und alte YFUler zu treffen.
      %h3 Kiosk-Helfer
      :markdown
        Als Kiosk-Helfer übernimmst du eine oder gerne auch mehrere Kiosk-Schichten und trägst damit zur Versorgung des leiblichen Wohls der BUT-Teilnehmer bei. Die Hauptaufgabe umfasst den Verkauf von Getränken und Speisen. Weitere Aufgaben können z.B. die Zubereitung von Getränken und die Umsetzung eines Infopoints am Kiosk umfassen.

    %a(name="aufbau")
    #aufbau(data-magellan-destination="aufbau")
      %h2 Aufbau-Helfer
      :markdown
        Wir haben viele tolle Ideen für das Rahmenprogramm, die Dekoration, den Kiosk oder die Workshops. Um diese erfolgreich umsetzen zu können, benötigen wir Aufbau-Helfer, die Lust und Zeit haben einen Tag oder auch mehrere Stunden früher zum BUT anzureisen, um das BUT- Team bei der Vorbereitung und Aufbauarbeiten des Bundestreffens zu unterstützen.

        Du hast die Möglichkeit andere YFUler zu treffen, das Gelände vor allen anderen kennen zu lernen und das BUT aktiv mit zu gestalten.

    %a(name="kinderbetreuung")
    #kinderbetreuung(data-magellan-destination="kinderbetreuung")
      %h2 Helfer für die Kinderbetreuung
      :markdown
        Auch in diesem Jahr hoffen wir darauf, dass sich viele Familien dazu entschließen, am BUT teilzunehmen. Um das BUT familienfreundlicher zu gestalten, wollen wir wie in den letzten Jahren auch eine Kinderbetreuung anbieten, um den Eltern die Möglichkeit zu geben, an den Workshops teilnehmen zu können, die sie gerne besuchen möchten. Wenn du Spaß daran hast, mit Kindern aller Altersgruppen zu spielen und dich für ein paar Stündchen um sie zu kümmern, dann ist die Kinderbetreuung genau das Richtige für dich! Tob und spiel mit den Kleinen auf den zahlreichen Spielmöglichkeiten rund ums Gelände und lass das innere Kind in dir frei.

    %a(name="freestyler")
    #freestyler(data-magellan-destination="freestyler")
      %h2 Freestyler
      :markdown
        Wir haben ein abwechslungsreiches und spannendes Rahmenprogramm für das Bundestreffen geplant. Um dieses erfolgreich umsetzen zu können suchen wir Freestyler, die uns beispielsweise bei der Vorbereitung der LG-Challenge, bei der Umsetzung eines Sportturniers oder bei der Dekoration des Geländes unterstützen. Als Freestyler erklärst du dich dazu bereit, das BUT-Kernteam und die anderen Helferteams bei kleineren Aufgaben zu unterstützen und nach Bedarf auch mal spontan irgendwo mit anzupacken. Je mehr Freestyler sich melden, desto weniger »Arbeit« fällt an, also zöger‘ nicht und melde dich als Freestyler.

    %a(name="ersthelfer")
    #ersthelfer(data-magellan-destination="ersthelfer")
      %h2 Ersthelfer
      :markdown
        Wie suchen Dich, wenn du eine Schulung zur Leistung Erster Hilfe absolviert hast oder sogar eine medizinische Ausbildung hast und du dir zutraust im Falle eines medizinischen Notfalls zur Hilfe gerufen zu werden. Natürlich hoffen wir, dass du auf dem Bundestreffen nichts zu tun haben wirst. Für den Fall der Fälle brauchen wir aber möglichst viele YFUler, die eine Erstversorgung vor Ort leisten könnten.

    %a(name="grillmeister")
    #grillmeister(data-magellan-destination="grillmeister")
      %h2 Grillmeister
      :markdown
        Wir suchen dich als Grillmeister! Bei unserem gemeinsamen Grillabend kümmerst du dich darum, dass die Teilnehmer das für sie besorgte Grillgut erhalten und sich bei dir in Gruppen Grillkohle, Anzünder, etc. abholen können. Du musst also nicht den ganzen Abend für alle grillen, sondern nur dafür sorgen, dass jeder grillen kann.
