- content_for :title do
  Das Motto des BUTs

%section.content
  %article
    %hgroup
      %h1 Ab durch die Mitte — Konsens vs. Querdenken
      %h2.subheader Das Motto des Bundestreffen 2015
    :markdown
      Als Kernteam des Bundestreffens 2015 haben wir uns für dieses Motto entschieden, weil wir von seiner komplexen Bedeutung und Relevanz in den unterschiedlichsten Lebensbereichen fasziniert sind. Entscheidungen im Spannungsfeld zwischen Konsens und Querdenken betreffen einerseits uns alle ganz persönlich als Individuen, andererseits aber auch YFU als Organisation und die Gesellschaft als Ganzes.

      _Wie viel Konsens brauchst du?_<br>
      _Denkst du manchmal quer?_<br>
      _Macht ein Konsens dich zufrieden?_<br>
      _Wie leicht fallen dir Perspektivwechsel?_

      _Wie erreichen wir bei YFU Konsens?_<br>
      _Welche Einstellung haben wir zum Querdenken?_<br>
      _Wie homogen sind wir bei YFU?_<br>
      _Wie innovativ ist YFU?_

      _Wie viel Konsens tut der deutschen Politik gut?_<br>
      _Wie gehen wir als Gesellschaft mit Querdenkern um?_<br>
      _Brauchen wir beides?_

      Diese und noch viele weitere nicht leicht zu beantwortende Fragen beschäftigen uns nun schon seit Monaten. Mit euch gemeinsam wollen wir während des Bundestreffens versuchen den Antworten zu diesen Fragen näher zu kommen.

      Das Motto wird in das gesamte Programm des Bundestreffens eingebunden sein, in einigen Workshops vorkommen, aber auch das Rahmenprogramm prägen.

      Wir freuen uns auf einen vielfältigen Gedankenaustausch und ein unvergessliches Bundestreffen 2015 mit euch im Schein dieses Mottos!

      <h3>Was wir unter Konsens und Querdenken verstehen: Was heißt eigentlich Konsens bzw. Querdenken?</h3>

      Für uns als Team beschreibt ein Konsens die Übereinstimmung von mehreren (menschlichen) Meinungen und Positionen. Ihn zu finden oder aktiv herzustellen ist eine mögliche Strategie, um in unserer interessenvielfältigen und pluralistischen demokratischen Gesellschaft zu uns zufriedenstellenden und uns Sicherheit gebenden Entscheidungen und Gesprächsergebnissen zu gelangen. Damit steht Konsens in einem gewissen Widerspruch zu Dissens und Konflikten.

      Das Querdenken hingegen sehen wir als eine Kreativitätstechnik, die Perspektivwechsel wagt und unkonventionelle und innovative Impulse für Entwicklungen und auch Problemlösungen eröffnet.

      Wir möchten während des Bundestreffens mit euch gemeinsam in einen Diskurs darüber treten, wie vereinbar diese beiden Konzepte miteinander sind.
      
