- content_for :topic do
  Gruppen

%p.lead
  In deinem Profil hast du die Möglichkeit, Gruppen einzurichten und Leute per E-Mail zu dieser Gruppe einzuladen.
  Gruppen haben hauptsächlich den Zweck, dass du bei der Unterkunft auswählen kannst, dass du <strong>mit allen Leuten aus einer Gruppe auf ein Zimmer</strong> möchtest.

:markdown
  Ein typischer Ablauf sieht wie folgt aus:

  1. Ein Benutzer (*Gründer*) erstellt eine Gruppe, wählt einen Gruppennamen und gibt eine Liste von E-Mailadressen an, die zu der Gruppe eingeladen werden sollen.
  2. An jede E-Mailadresse wird eine Einladung verschickt. Falls die Person noch kein Konto auf der BUT-Website hat, kann sie dieses dann anlegen.
  3. Bei der Anmeldung wählt dann jedes Gruppenmitglied im Punkt *Unterkunft* aus, dass es mit den anderen Mitgliedern der Gruppe auf ein Zimmer möchte. Wir geben dann unser bestes, eurem Wunsch zu entsprechen.

  Der Gründer der Gruppe kann diese löschen sowie einzelne Mitglieder entfernen. Jedes Mitglied kann die Gruppe selbstständig verlassen.
