%article
  %h1 Fotos
  %p.lead Ihr habt uns fleißig Fotos geschickt. Hier könnt ihr sie herunterladen!

  = link_to 'Alle Fotos in Originalgröße (921 MB)', download_photos_path, class: 'expand button'
