%article
  %h1
    Für's BUT anmelden

  %p.lead
    %strong Wichtig:
    Du bist erst dann fest für das Bundestreffen angemeldet, wenn du bezahlt hast. Die Details werden dir nach der Anmeldung in deinem Profil angezeigt.

  = render partial: 'form'
