@font-face{
  font-family:'National';
  font-weight:normal;
  font-style:normal;
  src:url("/assets/NationalWeb-Regular.eot?#iefix") format("embedded-opentype"),
  url("/assets/NationalWeb-Regular.woff") format("woff")
}
@font-face{font-family:'National';
  font-weight:normal;
  font-style:italic;
  src:url("/assets/NationalWeb-RegularItalic.eot?#iefix") format("embedded-opentype"),
  url("/assets/NationalWeb-RegularItalic.woff") format("woff")
}
@font-face{font-family:'National';
  font-weight:bold;
  font-style:italic;
  src:url("/assets/NationalWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("/assets/NationalWeb-BoldItalic.woff") format("woff")
}
@font-face{font-family:'National';
  font-weight:bold;
  font-style:normal;
  src:url("/assets/NationalWeb-Bold.eot?#iefix") format("embedded-opentype"),
  url("/assets/NationalWeb-Bold.woff") format("woff")
}
