@font-face{
  font-family:'YFU';
  font-weight:normal;
  font-style:normal;
  src:font-url("NationalWeb-Regular.eot?#iefix") format("embedded-opentype"),
  font-url("NationalWeb-Regular.woff") format("woff")
}
@font-face{font-family:'YFU';
  font-weight:normal;
  font-style:italic;
  src:font-url("NationalWeb-RegularItalic.eot?#iefix") format("embedded-opentype"),
  font-url("NationalWeb-RegularItalic.woff") format("woff")
}
@font-face{font-family:'YFU';
  font-weight:bold;
  font-style:italic;
  src:font-url("NationalWeb-BoldItalic.eot?#iefix") format("embedded-opentype"),
  font-url("NationalWeb-BoldItalic.woff") format("woff")
}
@font-face{font-family:'YFU';
  font-weight:bold;
  font-style:normal;
  src:font-url("NationalWeb-Bold.eot?#iefix") format("embedded-opentype"),
  font-url("NationalWeb-Bold.woff") format("woff")
}
