%hgroup
  %h1 Deine Musikwünsche

%p.lead Hier kannst du dir Musik für die Party am Samstag wünschen. Wir leiten alle Musikwünsche gesammelt an den DJ weiter. Wünsch dir deine Lieblingsband, Musikrichtung oder einzelne Lieder.
